<script type="text/javascript" src="__ROOT__/Public/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/lib/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/lib/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/lib/jquery.validation/1.14.0/messages_zh.min.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/static//h-ui.admin/js/H-ui.admin.js"></script> 
<script language="javascript" type="text/javascript" src="__ROOT__/Public/js/My97DatePicker/WdatePicker.js"></script>